.header{
  display:flex;
  justify-content:space-around;
  background-color:gray;
  color:white;
  align-items:center;
  font-size:20px;
}
#arrow-right, #arrow-left{
  cursor:pointer;
  padding:10px;
}
